<%- include layouts/header-index.ejs %>
<!--Slider Section-->
<section class="slider" id="home">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="container">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-6 slider-text">
              <h2 class="text-success">
                Ordena <span class="lighten">en línea</span>, y Ahorra <br />
                <span class="lighten">Tiempo</span>
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam consequatur illo laborum optio porro quis reiciendis
                rerum sapiente velit veniam.
              </p>
              <a href="" class="btn-order-now">Ordena ahora</a>
            </div>
            <div class="col-lg-6 slider-image">
              <img
                src="images/index/images/pasaq1.jpeg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6 slider-text">
              <h2 class="text-success">
                Compra <span class="lighten">en línea</span>, y ahorra <br />
                <span class="lighten">tiempo</span>
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam consequatur illo laborum optio porro quis reiciendis
                rerum sapiente velit veniam.
              </p>
              <a href="" class="btn-order-now"
                >Ordena Ahora <i class="bi bi-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-6 slider-image">
              <img
                src="images/index/images/pasaq2.jpeg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!--Latest Product-->
<section class="latest-product" id="product">
  <div class="container">
    <h2>Lista de productos</h2>
    <hr />
    <div class="row">
      <% for(var i = 0; i < productos.length; i++) { %>
      <div class="col-lg-3" id="card-product">
        <div class="card border-0 shadow-sm">
          <div class="card-body text-center">
            <img src="<%= productos[i].imagen %>" alt="" />
            <h2 class="product_name">
              <a href=""><%= productos[i].nombre_producto %></a>
            </h2>
            <h2 class="price"><%= productos[i].precio %> Bs</h2>
            <div class="btn d-flex justify-content-between align-items-center">
              <a
                class="add-to-cart-btn"
                onclick="agregarCarrito('<%= productos[i].id_producto %>')"
              >
                <i class="bi bi-cart4"></i> Agregar al Carrito
              </a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<!--Promotion banner-->
<section class="banner position-relative">
  <div class="container">
    <img class="w-100" src="images/index/images/banner.jpg" alt="" />
    <h1 class="promo-title">Order Online Save Your Time</h1>
  </div>
</section>

<%- include layouts/footer-index.ejs %>
