<%- include ../layouts/header-index.ejs %>

<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Carrito de Compras</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="table-responsive">
                <table class="table table-borderless table-centered mb-0">
                  <thead class="table-light">
                    <tr>
                      <th>Producto</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th>Total</th>
                      <th style="width: 50px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (carrito.length > 0) { %>
                      <% for(var i = 0; i < carrito.length; i++) { %>
                      <tr
                        id="fila<%= carrito[i].id_pedido %><%= carrito[i].id_producto %>"
                      >
                        <td>
                          <img
                            src="<%= carrito[i].imagen %>"
                            alt="contact-img"
                            title="contact-img"
                            class="rounded me-3"
                            height="64"
                          />
                          <p class="m-0 d-inline-block align-middle font-16">
                            <a href="#" class="text-body"
                              ><%= carrito[i].nombre %></a
                            >
                            <br />
                            <small class="me-2"><b>Size:</b> Large </small>
                            <small><b>Color:</b> Light Green </small>
                          </p>
                        </td>
                        <td><%= carrito[i].precio_producto_unitario %> Bs</td>
                        <td>
                          <input
                            type="number"
                            min="1"
                            value="<%= carrito[i].cantidad_producto %>"
                            class="form-control"
                            placeholder="Qty"
                            style="width: 90px"
                            id="cantidad<%= carrito[i].id_producto %>"
                            onchange="precioProducto('<%= carrito[i].id_producto %>', '<%= carrito[i].precio_producto_unitario %>', '<%= carrito[i].id_pedido %>', '<%= carrito[i].id_cliente %>')"
                          />
                        </td>
                        <td id="totalproducto<%= carrito[i].id_producto %>">
                          <%= carrito[i].precio_producto_total %> Bs
                        </td>
                        <td>
                          <a
                            onclick="eliminarProducto('<%= carrito[i].id_pedido %>', '<%= carrito[i].id_producto %>', '<%= carrito[i].id_cliente %>')"
                            class="action-icon"
                          >
                            <i class="mdi mdi-delete"></i
                          ></a>
                        </td>
                      </tr>
                      <% } %>
                    <% } else { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>Warning - </strong> No hay Datos en el carrito
                    </div>
                    <% } %>
                    
                  </tbody>
                </table>
              </div>
              <!-- end table-responsive-->

              <!-- action buttons-->
              <div class="row mt-4">
                <div class="col-sm-6"></div>
                <!-- end col -->
                <div class="col-sm-6">
                  <% if (carrito.length > 0) { %>
                  <div class="text-sm-end">
                    <a
                      href="/compra?id_cliente=<%= carrito[0].id_cliente %>"
                      class="btn btn-danger"
                    >
                      <i class="mdi mdi-cart-plus me-1"></i> Comprar
                    </a>
                  </div>
                  <% } %>
                </div>
                <!-- end col -->
              </div>
              <!-- end row-->
            </div>
            <!-- end col -->

            <div class="col-lg-4">
              <div class="border p-3 mt-4 mt-lg-0 rounded">
                <h4 class="header-title mb-3">Resumen del pedido</h4>

                <div class="table-responsive">
                  <table class="table mb-0">
                    <tbody>
                      <tr>
                        <th>Total :</th>
                        <% if (carrito.length > 0) { %>
                        <th id="totalpago<%= carrito[0].id_pedido %>">
                          <%= carrito[0].total_pago %> Bs
                        </th>
                        <% } else { %>
                        <th id="totalpago">
                          0 Bs
                        </th>
                        <% } %>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- end table-responsive -->
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end card-body-->
      </div>
      <!-- end card-->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>

<%- include ../layouts/footer-index.ejs %>
